*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: rgb(114, 114, 221);
    color: white;
}

body{
    margin: 10px;
}

header{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    min-height: 15vh;
    align-items: center;
    justify-content: left;
}

.headerimage{
    width: 97.5vw;
    height: 130px;
    border: 2px solid rgb(102, 93, 93);
    border-radius: 3px;
}

.logo{
    border: 2px solid rgb(102, 93, 93);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.socialmedia{
    margin-left: 700px;
}

.socialmedia a{
    padding: 10px;
    color: white;
}

h1{  
    margin-left: 5px;
    font-size: 25px;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
}

h2{
    border: 2px solid rgb(102, 93, 93);
    border-radius: 3px;
    padding: 10px;
    font-size: 20px;
}

.box1{
    margin: -20px 0px 20px 555px;
}

a{
    text-decoration: none;
}

.navigationbar a{
    padding: 10px;
    border: 1px solid rgb(31, 30, 31);
    border-radius: 3px;
    height: 40px;
    width: 150px;
    display: inline-block;
    text-align: center;
    flex-wrap: nowrap;
    font-weight: bold;
    background: linear-gradient(15deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 20%, rgba(0,212,255,1) 80%);
}

a:hover{
    color: rgb(204, 89, 89);
}

.box2{
    border: 2px solid rgb(102, 93, 93);
    border-radius: 3px;
    height: 100%;
    width: 100%;
    text-align: center;
}

.box2 p{
    padding: 8px;
}

.box3 p{
    padding: 10px;
    text-align: center;
}

.box4{
    padding: 10px;
    border: 2px solid rgb(102, 93, 93);
    border-radius: 3px;
    height: 100%;
    width: 100%;
}

.box4 ol,ul,dl{
    padding: 10px;
    text-align: justify;
}

.box4 h3,h4{
    text-align: center;
    padding: 10px;
}

section{
    padding: 10px;
}

table{
    margin-left: 450px;
}

th, td{
    padding: 5px;
    text-align: center;
}

.rowa{
    background-color: rgb(21, 113, 132);
}

td:hover{
    background-color:  rgb(4, 53, 63);
}

footer{
    display: flex;
    min-height: 5vh;
    align-items: center;
    justify-content: center;
}